@using Shared.Dtos;
@model EmployeeDto;
<form method="POST" action="Edit">
    @Html.HiddenFor(m => m.Id)
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Department</label>
        <div class="col-sm-10">
            @Html.DropDownListFor(m => m.DepartmentName, ViewData["Departments"] as IEnumerable<SelectListItem>, "Please select", new { @class = "Form-Control" })
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10">
            @Html.TextBoxFor(m => m.EmployeeName, new { @class = "Form-Control" })
        </div>
    </div>
    <div>
        <button class="btn btn-info">Update</button> &nbsp; <a asp-action="Index" asp-controller="Employee" class="btn btn-secondary">Cancel</a>
    </div>
</form>


